<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>PictureBox</servlet-name>
		<servlet-class>ie.dit.mihoc.maximilian.PictureBoxServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Member</servlet-name>
		<servlet-class>ie.dit.mihoc.maximilian.Member</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>ie.dit.mihoc.maximilian.Upload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>ie.dit.mihoc.maximilian.Delete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewUpload</servlet-name>
		<servlet-class>ie.dit.mihoc.maximilian.ViewUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Serve</servlet-name>
		<servlet-class>ie.dit.mihoc.maximilian.Serve</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>ie.dit.mihoc.maximilian.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Guest</servlet-name>
		<servlet-class>ie.dit.mihoc.maximilian.Guest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PictureBox</servlet-name>
		<url-pattern>/picturebox</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Member</servlet-name>
		<url-pattern>/member</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewUpload</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Serve</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Guest</servlet-name>
		<url-pattern>/guest</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
