@CHARSET "ISO-8859-1";
#uploadDiv {
			position: fixed;
    		top: 40px;
    		left: 20px;
		}
		
#privatePic, #publicPics, #otherPublicPics{
			position: relative;
    		margin-left: auto;
    		margin-right: auto;
    		width: 70%;
		}
		
.message{
			position: absolute;
			top: 60px;
    		right: 20px; 
		}